@model List<FaceDetails>

@{
    ViewData["Title"] = "FaceResults";
}

<h1>FaceResults</h1>

@if (@Model != null)
{
    @foreach (var face in @Model)
    {
        <img src="http://localhost:61220/@face.ImagePath">
        <div>Laughing? @face.Joy</div>

    }
}