@model List<FaceDetails>
@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>WebcamJS Test Page</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <style type="text/css">
        body {
            font-family: Helvetica, sans-serif;
        }

        h2, h3 {
            margin-top: 0;
        }

        form {
            margin-top: 15px;
        }

            form > input {
                margin-right: 15px;
            }

        #buttonhide {
            background: transparent;
            border: none !important;
            font-size: 0;
        }
    </style>
</head>
<body>
    <br />
    <h1 class="text-center">Make Me Laugh</h1>
    <div align="center">
        <p>Center your face</p>
        <p>Keep a straight face</p>
        <p><h3>@Html.ActionLink("Click here when you're ready", "PlayGame")</h3></p>
    </div>
    <div align="center">
        <div id="my_camera" >
            <script src="~/webcamjs/webcam.js"></script>
            <script language="JavaScript">
                Webcam.set({
                    width: 640,
                    height: 480,
                    image_format: 'jpeg',
                    jpeg_quality: 90
                });
                Webcam.attach('#my_camera');
            </script>
        </div>
    </div>
</body>
</html>

