@model GoogleVisionApi.Models.PlayerModel
    
@{
    ViewData["Title"] = "NewPlayer";
}


<body>
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">

            <!-- Masthead Avatar Image -->
            <img class="masthead-avatar mb-5" src="~/img/avataaars.svg" alt="">

            <!-- Masthead Heading -->
            <h3 class="masthead-heading text-uppercase mb-0">Enter Your Name</h3>

            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                  
                    <input asp-for="PlayerName" class="form-control" />
                    <span asp-validation-for="PlayerName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="PLAY" class="btn btn-xl btn-outline-dark" />
                </div>
            </form>

            <!-- Icon Divider -->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- Masthead Subheading -->
            <p class="masthead-subheading font-weight-light mb-0">Get Ready!</p>

        </div>
    </header>

</body>





