
@{
    ViewData["Title"] = "PlayGame";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>WebcamJS Test Page</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <style type="text/css">
        body {
            font-family: Helvetica, sans-serif;
        }

        h2, h3 {
            margin-top: 0;
        }

        form {
            margin-top: 15px;
        }

            form > input {
                margin-right: 15px;
            }

        #buttonhide {
            background: transparent;
            border: none !important;
            font-size: 0;
        }
    </style>
</head>
<body>
    <br />
    <h1 class="text-center">Wait for the camera to appear...</h1>
    <div class="container" align="center">    
        <button onclick="start_pics()">Go</button>
        <div>
            <div class="panel-heading"></div>
            <div class="panel-body">
                <div id="my_camera"></div>
                <!-- A button for taking snaps -->
                <div>
                    <h2>Capture images</h2>
                </div>
            </div>
        </div>     
        <div>
            <div class="panel-heading">Captured Photo</div>
            <div class="panel-body">
                <div id="results">Your captured image will appear here...</div>
            </div>
            <br />
            <br />
        </div>
    </div>
    
    <!-- First, include the Webcam.js JavaScript Library -->
    <script src="~/webcamjs/webcam.js"></script>
    <!-- Configure a few settings and attach camera -->
    <script language="JavaScript">
        Webcam.set({
            width: 640,
            height: 480,
            image_format: 'jpeg',
            jpeg_quality: 90
        });
        Webcam.attach('#my_camera');
    </script>
    <!-- Code to handle taking the snapshot and displaying it locally -->
    <script language="JavaScript">

        function start_pics() {
            var cameraInterval = setInterval(take_snapshot, 1000);
            setTimeout(() => { clearInterval(cameraInterval) }, 3000);
        }

       
        function take_snapshot() {
        
            // take snapshot and get image data
            Webcam.snap(function (data_uri) {
                // display results in page
                document.getElementById('results').innerHTML =
                    '<img src="' + data_uri + '"/>';
                Webcam.upload(data_uri, '/Camera/Capture');
            });
        }

    </script>
</body>
</html>