@model PlayerModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "PlayGame";
}


<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">

            <!-- Masthead Heading -->
            <h3 class="masthead-subheading font-weight-light mb-0" id="wait_message">Wait for the camera to appear...</h3>
            <div class="container" align="center">
                <button onclick="start_pics()" class="btn btn-xl btn-outline-light" id="go_button">Go</button>
                <div>
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                        <div id="my_camera"></div>
                        <!-- A button for taking snaps -->
                        <div>
                            <h2>Capture images</h2>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="panel-heading">Captured Photo</div>
                    <div class="panel-body">
                        <div id="results">Your captured image will appear here...</div>
                    </div>
                    <br />
                    <br />
                </div>
            </div>


            <!-- Icon Divider -->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- Masthead Subheading -->
            <p class="masthead-subheading font-weight-light mb-0">Get Ready!</p>

        </div>
    </header>


    <!-- First, include the Webcam.js JavaScript Library -->
    <script src="~/webcamjs/webcam.js"></script>
    <!-- Configure a few settings and attach camera -->
    <script language="JavaScript">
        Webcam.set({
            width: 640,
            height: 480,
            image_format: 'jpeg',
            jpeg_quality: 90
        });
        Webcam.attach('#my_camera');
    </script>
    <!-- Code to handle taking the snapshot and displaying it locally -->
    <script language="JavaScript">

        function start_pics() {
            var cameraInterval = setInterval(take_snapshot, 1000);
            setTimeout(() => { clearInterval(cameraInterval) }, 15000);
            countdown_timer();
            
        }

        function take_snapshot() {

            // take snapshot and get image data
            Webcam.snap(function (data_uri) {
                // display results in page
                document.getElementById('results').innerHTML =
                    '<img src="' + data_uri + '"/>';
                Webcam.upload(data_uri, '/Home/Capture');
            });
        }

        function countdown_timer() {
            var timeleft = 15;
            var downloadTimer = setInterval(function () {
                timeleft--;
                document.getElementById("go_button").style.display = "none";
                document.getElementById("wait_message").textContent = timeleft + " seconds left...Don't laugh!";
                if (timeleft <= 0) {
                    clearInterval(downloadTimer);
                    window.location.replace("/Home/GameResults");
                }
                    
                    
            }, 1000);
            
        }


    </script>
</body>
</html>